body{
    background-color: #daa520;
    font-family: 'Trebuchet MS';
}

.holy{
    text-align: center;
    margin-top: 15px;
   
}

.login{
    background-color: #b8860b;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 5px 5px 20px;
}

label{
    font-size: 1.7rem;
    font-family: Impact;
}

input{
    border-radius: 5px;
    border: none;
    font-size: larger;
}

.entrar{
    background-color: #c0c038;
    color: black;
    text-decoration: none;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: large;
    border-radius: 7px
}
